<%= provide (title: "Welcome" ) %>
<section class = "hero is-medium is-light is-bold" >
    <div class = "hero-body" > 
        <div class = "content" > 
            <div class = "light" >
                <h1 class = "title">Welcome to odinbook </h1>
                <p class = "" >
                This is an app i designed that connects with facebook and mimicks facebook. It has a lost of similiar, if not same feature, but it's also very much more minimalistic.
                </p>
            </div>
        </div>
    </div>
</section>
                                            