<footer class = "footer" >
    <span>
      as part of <a href="https://theodinproject.com">The Odin Project</a>
    
    </span>
    <div class = "is-pulled-right">
        <a href = "https://bulma.io/"><%= image_tag("made-with-bulma.png", height: "32", widht: "170.6666666") %></a>
    </div>
</footer>